:root{
    --colorPrimario: #c7c7c7;
    --colorSecundario: #212121;
    --colorTerciario: #fff;
}

.contenedor__cuerpo{
    float: left;
    padding: 2rem 1rem;
    background: var(--colorPrimario);
}

.contenedor__titulo__seccion{
    float: left;
    width: 100%;
    margin-bottom: 2rem;
}

.contenedor__titulo__seccion h1{
    text-align: center;
}

.elemento__formulario{
    margin-right: 1rem;
    padding: .5rem;
}

.entrada__numero{
    float: left;
    width: 30%;
}

.contenedor__tiradas{
    float: left;
    margin: 2rem 0;
    padding: 1rem 0;
    background: var(--colorTerciario);
    min-height: 150px;
}

.contenedor__elemento__tirada{
    float: left;
    margin: 1rem 0;
    width: 100%;
}

.contenedor__titulo__tiradas h5{
    color: var(--colorSecundario);
}
